input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
  -webkit-appearance: none;

  width : 100%;
  border: 1px solid #333;
  margin: 0;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}
