<!doctype html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<title>Arithmancer</title>
</head>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
     <!-- Title -->
      <span class="mdl-layout-title">Arithmancer</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/predictions">Predictions</a>
      <a class="mdl-navigation__link" href="/users/me">Profile</a>
      <a class="mdl-navigation__link" href="/faq">FAQ</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="section--center mdl-grid">
    <div class="page-content mdl-cell--12-col">
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
    </div>
    </div>
  </main>
</div>

